<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="UTF-8">
<title>Veterinarians</title>
</head>
<body>
	<!-- tells IntelliJ that vet is type of Vet, to be able to use IntelliSense -->
	<!-- /*@thymesVar id="vet" type="com.mkejeiri.sfgpetclinic.model.Vet" */-->
	<h1 th:text="'List of Vets'">List of Vets...</h1>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Last Name</th>
			<th>First Name</th>
		</tr>
		<tr th:each="vet: ${vets}">
			<td th:text="${vet?.id}" />
			<td th:text="${vet?.firstName}" />
			<td th:text="${vet?.lastName}" />
		</tr>
	</table>
	<hr>
	<h2>Veterinarians</h2>
	<table id="vets" class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Specialities</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
				<td><span th:each="specialty : ${vet.specialities}"
					th:text="${specialty.description + ' '}" /> 
					<span th:if="${vet?.specialities?.size() == 0}">none</span>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>