<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recipe Home</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">

					<div class="panel-heading">
						<h1 class="panel-title">My Recipes!</h1>
					</div>
					<div class="panel-body">
						<div class="table-responsive"
							th:if="${not #lists.isEmpty(recipes)}">
							<table class="table table-hover ">
								<thead class="thead-inverse">
									<tr>
										<th>ID</th>
										<th>Description</th>
										<th>View</th>
									</tr>
								</thead>
								<!--                             removed at runtime, but natural template in browser allow us to see how it looks -->
								<tr th:remove="all">
									<td th:text="${recipe.id}">123</td>
									<td th:text="${recipe.description}">Tasty Goodnees 1</td>
								</tr>
								<tr th:remove="all">
									<td th:text="${recipe.id}">12333</td>
									<td th:text="${recipe.description}">Tasty Goodnees 2</td>
								</tr>

								<!--                             replaced at runtime -->
								<tr th:each="recipe : ${recipes}">
									<td th:text="${recipe.id}">334</td>
									<td th:text="${recipe.description}">Tasty Goodnees 3</td>
									<td><a th:href="@{'recipe/show/'+ ${recipe.id}}" th:text="view"></a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>